<h1>New Listing</h1>




    <% if signed_in? -%>
      <%= render 'form', listing: @listing %>
	  <%= link_to 'Back', listings_path %>
    <% else -%>
      <p>Please sign in to list </p>
      <%= link_to t(".sign_in"), sign_in_path %>
    <% end -%>

